<div class="fullscreen-bg">

  <div class="overlay">

    <div class="wrap-ico">
      <img src="../../assets/images/logo.png" class="logo">
    </div>
      <ul class="wrap-link">
        <li class="sign-link" href="#">Sign in</li>
        <li class="sign-link" href="#">Sign up</li>
      </ul>

    <h1>Auto accountant</h1>
    <h2>Enjoy your auto with us!</h2>
</div>


  <video autoplay loop class="fullscreen-bg-video">
    <source src="../../assets/video/main-video.mp4" type="video/mp4">
  </video>

</div>
